/* body {
    display: unset;
    height: 100vh;
    background-image: none;
    margin: 0px;
    padding: 0px;
} */

div#home {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav"
    "barra-lateral main"
    "barra-lateral main"
    ;
}

nav {
    grid-area: nav;
    background-color: red;
}

menu {
    background-color: aqua;
}

#main {
    grid-area: main;
    background-color: purple;
}

.board {
    background-color: green;
}

.card {
    background-color: #FFFFFF;
}

aside {
    grid-area: barra-lateral;
    background-color: greenyellow;
}
