body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #282827;
    color: #ffffff;
}

/* classe que mostra ou não o elemento */
.show{
    display: grid;
  }
.no-show{
    display: none;
}

/* logo do trello */
ul img {
    width: 90px;
    height: 100%;
}
.icon{
    width: 25px;
    height: 25px;
}

#home {
    height: 100%;
    width: 100%;
    grid-template-columns: 3.8fr 7fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav"
    "barra-lateral main"
    "barra-lateral main"
    ;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}

menu {

}

menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

menu ul li{
    padding: 0rem 2rem;
}

#main {
    grid-area: main;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.board-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 

.board-list li{
    list-style: none;
    margin: 2%;
}

.board {
    width: 1fr;
    height: 10rem;
    border-radius: 10px;
    color: #000;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    display: flex;
    padding-top: 5px;
}
.board-icons{
    display: flex;
    justify-content: end;
    padding-top: 5px;
}

.board-icons i{
    margin-right: 10px;
}


.board span{
    padding-left: 5%;
    padding-right: 1.5rem;
}

.card {
}

aside {
    grid-area: barra-lateral;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); 
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 1000; 
    border: solid 1px rgb(218, 218, 218);
    border-radius: 20px;
}

.modal form{
    width: 300px; 
    height: 200px;
    padding: 20% 15%;
    color: #000;
    border: none;
}
.modal form input{
    width: 200px;
}

.modal form button{
    width: 9.8rem;
}

#fav-boards-div{
}

#all-boards-div{
    display: block;
}
