.show{
    display: grid;
  }
.no-show{
    display: none;
}

body{
}

ul img {
    width: 50px;
    height: 30px;
}

#home {
    height: 100%;
    width: 100%;
    grid-template-columns: 3.8fr 7fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav"
    "barra-lateral main"
    "barra-lateral main"
    ;
}

nav {
    grid-area: nav;
    border: solid 10px #282827;
}

menu {
}

#main {
    grid-area: main;
    border: solid 10px #282827;
}

.board {
}

.card {
}

aside {
    grid-area: barra-lateral;
    border: solid 5px #282827;
}
